devices: (
    {
    name: "MX Master 4";
    dpi: 900;
    smartshift: {
        on: true;
        threshold: 30;
        torque: 50;
    };
    buttons: (
        {
        # thumb rest button
        cid: 0x1a0;
        action: {
            type: "Keypress";
            keys: ["KEY_LEFTMETA", "KEY_F12"];
        };
        },
        {
        # gesture button
        cid: 0xc3;
        action: {
            type: "Gestures";
            gestures: (
            {
                direction: "Left";
                mode: "OnRelease";
                action: {
                type: "Keypress";
                keys: ["KEY_LEFTCTRL", "KEY_LEFTALT", "KEY_LEFT"];
                };
            },
            {
                direction: "Right";
                mode: "OnRelease";
                action: {
                type: "Keypress";
                keys: ["KEY_LEFTCTRL", "KEY_LEFTALT", "KEY_RIGHT"];
                };
            },
            {
                direction: "None";
                mode: "OnRelease";
                action: {
                type: "Keypress";
                keys: ["KEY_LEFTMETA"];
                };
            }
            );
        };
        }
    );
    }
);
